models/.metadata/
models/Plugin_Resources/
models/aadl/diagrams/*.eps

code/nxt/Makefile
code/nxt/impro/
code/nxt/build/
code/nxt/app
code/nxt/app.rxe

doc/meeting/obj/
doc/meeting/meeting.pdf
doc/bibliography/obj/
doc/bibliography/bibliography.pdf
doc/report/obj/
doc/report/report.pdf
doc/defense/obj/
doc/defense/defense.pdf

.DS_Store
